[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options.git
	branch = main
[submodule "projects/Gibbed.IO"]
	path = projects/Gibbed.IO
	url = https://github.com/gibbed/Gibbed.IO.git
	branch = main
[submodule "projects/Tommy"]
	path = projects/Tommy
	url = https://github.com/gibbed/Tommy.git
[submodule "projects/Gibbed.Squish"]
	path = projects/Gibbed.Squish
	url = https://github.com/gibbed/Gibbed.Squish.git
	branch = main
[submodule "projects/Gibbed.Memory"]
	path = projects/Gibbed.Memory
	url = https://github.com/gibbed/Gibbed.Memory.git
	branch = main
[submodule "projects/Gibbed.TegraSwizzle"]
	path = projects/Gibbed.TegraSwizzle
	url = https://github.com/gibbed/Gibbed.TegraSwizzle.git
	branch = main
